@page "/"
@using Application.Game.Items

@if (_state.Loaded)
{
}
else
{
	<a>Loading</a>
}

@code {

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await StateManager.LoadAsync();
			_state = StateManager.Get();
			_state.Launch();
			StateHasChanged();
		}
	}

}