@page "/"
@using BuildIt.Store

@if (_state.Loaded){
<p>Available Coal: @_state.Coal</p>

<button class="btn btn-primary" @onclick="Save">Save</button>
<button class="btn btn-primary" @onclick="AddFactory">Add Factory</button>

    <div class="scrollmenu">
        @foreach (var f in _state.Factories)
        {
            <Factory Self="@f"/>
        }
    </div>
}

@code {

    async Task Save()
    {
        await StateManager.SaveAsync();
    }
    
    private void AddFactory()
    {
        _state.Factories.Add(new Store.Factory());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await StateManager.LoadAsync();
            _state = StateManager.Get();
            StateHasChanged();
        }
    }

}