@page "/"

@if (_state.Loaded)
{
	foreach (var t in _state.TechnologyTree.Technologies)
	{
		<p>@t.Name</p>
	}
}
else
{
	<a>Loading</a>
}

@code {


	private async Task SaveAsync()
	{
		await StateManager.SaveAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await StateManager.LoadAsync();
			_state = StateManager.Get();
			_state.Launch();
			_timer.Enabled = true;
			StateHasChanged();
		}
	}

}